.actions {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding: 5px 0px;
  background: #fff;
}

.actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}

.actions button,
.actions select {
  border-radius: 4px;
  border: 1px solid #FFF;
}

.actions button:hover,
.actions select:hover {
  background: #DDD;
}

.actions .triangleLeft {
  width: 10px;
  transform: rotate(-90deg);
}

.actions .trianglerRight {
  width: 10px;
  transform: rotate(90deg);
}

.actions .home {
  width: 10px;
}