.mainForm label {
  display: block;
  margin-bottom: 2px;
  font-size: .9rem;
}

.mainForm input {
  width: 100%;
}

.mainForm fieldset {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 12px;
  margin: 20px 0;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 1px solid var(--primary);
  min-height: 150px;
}

.mainForm legend {
  padding: 0 10px;
}

.mainForm button[type="submit"] {
  float: right;
  margin-bottom: 20px;
}

.mainForm .containerInputDatePicker {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainForm .containerInputDatePicker input {
  padding-right: 32px;
}

.mainForm .containerInputDatePicker button {
  position: absolute;
  right: 4px;
  z-index: -1;
  height: 23px;
  width: fit-content;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: var(--primary);
  color: var(--secondary);
  font-size: .7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.mainForm .containerInputDatePicker button:focus {
  z-index: 0;
}

.mainForm .containerDatePicker {
  position: absolute;
  z-index: 2500;
}

.mainForm .containerDropdown {
  position: relative;
  max-width: 256px;
}

.mainForm .containerDropdown > :first-child {
  position: absolute;
}

.mainForm .containerDropdown > :last-child:not([class^="DropDown"]) {
  position: absolute;
  top: 48px;
  z-index: -5;
  width: 100%;
}