.dayCell {
  width: 30px;
  height: 25px;
  margin: 0;
  padding: 0;
}

.day {
  width: 100%;
  height: 100%;
  font-size: .8rem;
  padding-right: 5px;
  border: 1px solid #ddd;
  background: #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.daySelected {
  color: #FFF;
  background: orange;
  font-weight: bold;
}

.day:hover,
.daySelected:hover {
  color: #FFF;
  background: dodgerblue;
  cursor: pointer;
}

.dayAnotherMonth {
  opacity: .5;
}