.customThemeOverlay {}

.customThemeModal {
  min-height: 100px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.customThemeContent {
  padding-bottom: 25px;
  border-bottom: 1px solid silver;
  font-size: .9rem;
}

.customThemeButtonClose {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: 600;
  background: var(--primary);
  color: #FFF;
}