* {
  box-sizing: border-box;
}

:root {
  --primary: #93ac19;
  --secondary: #252525;
  --tertiary: #5A700F;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family : Arial, Helvetica, sans-serif;
  background: #FFF;
}

label,
button {
  cursor: pointer;
}

/* Title */

h2.pageTitle {
  margin: 40px 0;
  padding : 15px 20px;
  border-left: 4px solid var(--primary);
}

/* Form */

.inputText {
  border: 2px solid var(--primary);
  border-radius: 4px;
  padding: 5px;
}

.btn,
.formBtn {
  border: transparent;
  border-radius: 5px;
  background: #FFF;
  padding: 8px 16px;
  border: 3px solid var(--primary);
  color: var(--secondary);
  font-size: .9rem;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover,
.formBtn:hover {
  background: var(--primary);
  color: var(--secondary);
}
